!public/
public/*
!public/fonts
!public/media
!public/index.php
/node_modules
/storage/*.key
/vendor
.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vapor/
.env.production
.env.staging
