#task-board {
    display: flex;
    overflow-x: scroll;
    height: 65vh;
    padding-bottom: 25px;

    .category {
        flex: 0 0 300px;
        background: #e8e8e8;
        margin: 0 15px;
        border-radius: 6px;
        overflow-y: scroll;
        border: 1px solid #ccc;

        h4.header {
            color: #8a8888;
            font-size: 18px;
            color: #757474;
            margin-bottom: 0;
            background: #e8e8e8;
            width: 298px;
            padding: 15px;
            border-radius: 6px 6px 0 0;
        }
    }
}

.task-list {
    padding: 0 15px 15px 15px;
    margin-top: 0;

    .task {
        margin-bottom: 15px;
        padding: 15px;
        background: #FFF;
        border-radius: 8px;
        border: 1px solid #e8ecee;
        box-shadow: 0 1px 4px 0 rgba(21,27,38,.08);
        transition: all .3s;

        &.completed {
            h5 {
                color: #b4babf;
            }
        }

        .complete {
            cursor: pointer;
            
            svg {
                height: 16px;
                min-height: 16px;
                min-width: 16px;
                width: 16px;

                path {
                    fill: #fff;
                    stroke: #6f7782;
                    stroke-width: 2px;
                    transition: 200ms fill, 200ms stroke;
                    pointer-events: none;
                }

                &:hover {
                    path {
                        fill: #e2fffa;
                        stroke: #13a94d;
                    }
                }
            }

            .completed {
                path {
                    fill: #e2fffa;
                    stroke: #13a94d;
                }
            }
        }

        h5 {
            font-size: 17px;
            margin-bottom: 10px;
            align-self: center;
            padding-top: 2px;
        }

        &:hover {
            box-shadow: 0 2px 10px 0 rgba(21,27,38,.1);
            border-color: #cbd4db;
        }

        .avatar {
            align-items: center;
            background: center/cover #e4e4e4;
            border-radius: 50%;
            border: 1px solid #ccc;
            display: inline-flex;
            justify-content: center;
            position: relative;
            vertical-align: top;
            width: 24px;
            height: 24px;
            object-fit: cover;
        }

        .logo {
            width: 26px;
            height: 26px;
            object-fit: contain;
            align-self: flex-start;
            margin-right: 7px;

            &.is-tall {
                width: 24px;
                height: 24px;
            }

            &.is-short {
                width: 32px;
                height: 32px;
            }
        }

        .due-date {
            font-size: 13px;
            color: #737373;
            font-weight: 600;
            align-self: flex-end;
        }
    }
}