// Website Background
.bg-prep-hoops {
    background-color: $prep-hoops !important;
}

.bg-prep-dig {
    background-color: $prep-dig !important;
}

.bg-prep-girls-hoops {
    background-color: $prep-girls-hoops !important;
}

.bg-prep-redzone {
    background-color: $prep-redzone !important;
}

.bg-prep-hoops-next {
    background-color: $prep-hoops-next !important;
}

.bg-gray {
    background-color: #6c757d;
}
