.payment {
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    overflow: hidden;

    .payment-tab {
        background: #f2f2f2;
        box-sizing: border-box;
        max-height: 60px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s 0s ease-in-out;
        width: 100%;

        p {
            margin: 10px 0;
        }

        &:first-of-type {
            border-radius: 4px 4px 0 0;
        }

        &.payment-tab-active {
            max-height: 400px;
            background: #fff;

            .payment-tab-content {
                visibility: visible;
                opacity: 1;
            }
        }

        .payment-tab-trigger {
            padding: 0px 20px;

            >input {
                position: absolute;
                visibility: hidden;
            }

            input[type="radio"] {
                width: 15px;
                height: 15px;
                cursor: pointer;
                box-shadow: none;
            }

            >label {
                cursor: pointer;
                display: block;
                position: relative;
                top: 0;
                padding: 14px 0;
                top: 3px;
                margin-bottom: 0;
                font-weight: 500;

                &:before {
                    transition: 0.2s;
                    box-sizing: border-box;
                    background-color: #fff;
                    border: 2px solid #d0d0d0;
                    border-radius: 100%;
                    content: "";
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    top: 3px;
                    width: 18px;
                    height: 18px;
                }

                &:after {
                    background: #fff;
                    border-radius: 100%;
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 5px;
                    top: 22px;
                    width: 8px;
                    height: 8px;
                    transition: 0.2s;
                    transform: scale(0);
                }
            }

            input:checked~label:before {
                border-color: #5c80d1;
            }

            input:checked~label:after {
                background-color: #5c80d1;
                transform: scale(1);
            }
        }

        .payment-tab-content {
            padding: 0 20px 20px 20px;
            background-color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
    }
}

#payment-form.stripe-payment {
    display: flex;

    .form-row {
        flex-grow: 1;

        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            width: 100%;
            padding: 10px 12px;
            border: 1px solid #ebebeb;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

    }

    button#stripe-submit {
        margin-left: 25px;
        width: 140px;
        height: 40px;
    }
}

#checkout-wrapper #payment-form.stripe-payment {
    display: block !important;
}

@media(max-width: 600px) {
    #payment-form.stripe-payment {
        flex-direction: column;
        flex-wrap: wrap;

        #stripe-submit {
            margin: 0 auto 25px auto !important;
            font-size: .85rem;
        }
    }
}

.total-box-parent{
    display: flex;
    align-items: center;
    .total-box{
        margin-left: auto;
        font-size: 40px;
        margin-right: 20px;
    }
}