#register {
    .ticket-info {
        max-width: 400px;
        width: 100%;
        margin: 0 auto 20px auto;

        .top-box {
            background: #FAFAFA;
            text-align: center;
            border-bottom: 1px solid #E7E7E7;
            padding: 20px 20px 0 20px;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;

            .event-logo {
                width: 75px;
                height: 75px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                margin: .5rem auto 1rem auto;

                &.logo-short {
                    width: 125px;
                    height: 70px;
                }
            }

            .ticket-name {
                font-size: 1.35rem;
                font-weight: 800;
                margin-bottom: .25rem;
            }

            .price {
                font-weight: 500;
                font-size: 1.15rem;
            }
        }

        .ticket-quantity {
            justify-content: center;
            display: flex;
            margin: 24px 0 12px 0;

            .ticket-button {
                width: 28px;
                height: 28px;
                color: #FFF;
                border-radius: 50%;
                text-align: center;
                font-weight: 800;
                font-size: 21px;
                line-height: 1.3;
                cursor: pointer;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &.dec {
                    line-height: 1.2;
                }
            }

            .quantity {
                margin: 0 8px;
                border: 1px solid rgb(219, 219, 219);
                text-align: center;
                height: 28px;
                width: 28px;
                border-radius: 4px;
                font-weight: 600;
                color: #6f6d6d;
            }
        }
    }
}
