.icon-orange {
    color: $orange;
}

.icon-blue {
    color: $blue;
}

.icon-red {
    color: $red;
}

.icon-facebook {
    color: #3b5998;
}

.icon-twitter {
    color: #00acee;
}

.icon-instagram {
    color: #4c68d7;
}
